@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

body {
    background-color: #A55CC7;
    font-family: 'Times New Roman', Times, serif;
}

p {
    margin: 15px 0px;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:  #ebe5c5;
    --cor1:  #89658F;
    --cor2:  #8C868C;
    --cor3:  #A55CC7;
    --cor4:  #7825D1;
    --cor5:  #041319;  
}

header {
    background-color: #041319;
    min-height: 150px;
    text-align: center;
    padding-top: 70px;
}

header > p {
    color: white;
    font-size: 1.3em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.726)
}

header > h1 {
    color: white;
    font-size: 3em;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(39, 39, 39, 0.5);
}

nav {
    background-color: #041319;
    padding: 30px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.808);
    font-weight: bold;
}

nav > a {
    color: var(--cor0);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.678);
    text-decoration: none;
    font-weight: bold;
    transition-duration: 3s;
}

nav > a:hover {

    background-color: #A55CC7;
    
}

main h2 {
    color: var(--cor5);
}

main h2 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--cor4);
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    display: block;
    width: 100%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.425);
    
}

main {
    padding: 30px;
    min-height: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -30px 30px -30px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.425);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    padding: 10px;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    font-size: 1em;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.9em;
    padding: 10px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: var(--cor1);
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

body {
    font-family: 'Times New Roman', Times, serif;
  }

  table {
      width: 1000px;
      border-collapse: separate;
      background-color: #041319;
      color: rgb(251, 249, 252);
      text-align: left;
      font-size: 0.8em;
      padding: 20px;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.425);
      border-radius: 10px 0px 10px 0px;
  }

  td, th {
      border: 1px solid black; 
      padding: 30px;
  }
  tr.destaque {
    background-color: #7825D1;
    font-size: 3.em;
    text-align: center;
  }

  caption {
      font-size: 1.5em;
      font-weight: bold;
      color: white;
      padding: 20px;
      background-color: #7825D1;
  }

  .numero {
      text-align: right;
      font-size: 2em;
  }

  div#container {
    overflow-x: auto;
  }
  .head > h1 {
    text-align: center;
    color: white;
  }
  table {
    min-width: 400px;
    border-spacing: 0px;
    border: 0.5px solid #041319;
    margin: 10px auto;
}

table th {
    background-color: #041319;
    color: white;
    padding: 5px;
    text-align: left;
}

table td {
    padding: 5px;
}

table tr {
    background-color: rgba(55, 41, 145, 0.05);
}

table tr:nth-child(odd) {
    background-color: rgba(55, 41, 145, 0.3);
}

table.divisao {
    border: 1px solid white;
}

table.divisao td {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
}

table.divisao  tr:nth-child(1) td:nth-child(2) {
    border-bottom: 3px solid rgb(7, 7, 7);
    border-left: 3px solid rgb(8, 8, 8);
}

table.divisao tr:nth-child(2) td:nth-child(2) {
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(1) {
    text-decoration: underline;
}

ul > li::marker {
    color: #372991;
}

/* ELEMENTOS DE FORMULÃRIO */

form {
    background-color: rgba(55, 41, 145, 0.2);
    padding: 15px;
    border-radius: 10px;
}

form label {
    display: block;
    width: fit-content;
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(251, 250, 252, 0.2);
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

input[type=text], [type=number], select, input[type=date], input[type=date], input[type=datetime], input[type=email], input[type=month], input[type=password], input[type=range], input[type=tel], input[type=time], input[type=week] {
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #724caf;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a07a;
}

input[type=reset] {
    width: 100%;
    background-color: #9603eb;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #c27013;
}

input[type=button], button {
    width: 100%;
    background-color: #372991;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover, button:hover {
    background-color: #291f6c;
}

fieldset {
    border: 0.5px dotted #f5f5f7;
}

fieldset > legend {
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(250, 250, 250, 0.774);
    padding: 3px 7px;
    border-radius: 5px;
}

input[type=radio] + label, input[type=checkbox] + label {
    display: inline-block;
    font-size: 1em;
    background-color: rgba(248, 246, 246, 0.199);
}